<h1>Hello World!</h1>



<div class='btn-group'>
    <span enter class='btn btn-primary'>{{apple.type}}</span>
    <span enter class='btn btn-info'>{{banana.type}}</span>
    <span enter class='btn btn-danger'>{{grape.type}}</span>
    <span enter class='btn btn-success'>{{melon.type}}</span>
</div>

<div update fruit="result"> </div>

<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: 5%">
    Processing
  </div>
  <div class="progress-bar progress-bar-warning" style="width: 20%">
    PHP
  </div>
  <div class="progress-bar progress-bar-danger" style="width: 15%">
    JavaScript
  </div>
  <div class="progress-bar progress-bar-info" style="width: 2%">
    Drupal
  </div>
</div>
